@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}

@* <h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Đăng nhập tài khoản của bạn</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng nhập</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Tạo mới tài khoản</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Gửi email xác nhận</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Sử dụng phương thức khác đăng nhập </h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="d-flex gap-4">
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    if (provider.DisplayName == "Facebook")
                                    {
                                        <button type="submit" class="btn btn-outline-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="bi bi-facebook"></i>
                                            Đăng nhập bằng @provider.DisplayName
                                        </button>
                                    }

                                    if (provider.DisplayName == "Google")
                                    {
                                        <button type="submit" class="btn btn-outline-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="bi bi-google"></i>
                                           Đăng nhập bằng @provider.DisplayName
                                        </button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://vcdn-kinhdoanh.vnecdn.net/2022/01/19/COCOON-7313-1642561492.jpg" alt="" class="img-fluid" />
            </div>
            <div class="col-md-6 contents">
                <div class="col-md-8">
                    <div class="mb-4">
                        <h3>Đăng nhập</h3>
                        <p>Vui lòng nhập đầy đủ các thông tin đăng nhập</p>
                    </div>
                    <form id="account" method="post">
                        <div class="form-group first">
                            <label for="username">Tên đăng nhập</label>
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group last mb-4">
                            <label for="password">Mật khẩu</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="d-flex mb-5 align-items-center">
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    <a id="forgot-password" asp-page="./Forgotpassword">Quên mật khẩu?</a>
                                </label>
                            </div>
                        </div>

                        <input type="submit" value="Đăng nhập" class="btn btn-block btn-primary">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Tạo mới tài khoản</a>
                        <script>

                        </script>
                        <span class="d-block text-left my-4 text-muted">&mdash; hoặc đăng nhập bằng phương thức khác &mdash;</span>
                    </form>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div class="d-flex gap-4">
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {

                                            if (provider.DisplayName == "Facebook")
                                            {
                                                <button type="submit" class="btn btn-outline-dark text-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <i class="bi bi-facebook"></i>
                                                    Đăng nhập bằng @provider.DisplayName
                                                </button>
                                            }

                                            if (provider.DisplayName == "Google")
                                            {
                                                <button type="submit" class="btn btn-outline-danger bg-light" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <i class="bi bi-google"></i>
                                                    Đăng nhập bằng @provider.DisplayName
                                                </button>
                                            }
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}