@model IEnumerable<CosmesticWebsiteDemo.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Tạo mới đơn hàng</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ngày
            </th>
            <th>
                Giá
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                SDT
            </th>
            <th>
                Ghi chú
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
