@model ShoppingCart
@{
    ViewData["Title"] = "Home Page";
   
}
<h2>Đơn Hàng của bạn</h2>
<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            <td>@(item.Price * item.Quantity)</td>
            <td>
                <a asp-controller="ShoppingCart" asp-action="Checkout" asp-route-productId="@item.ProductId">
                    <button class="btn btn-outline-dark"> <i class="bi-cart-fill me-1"></i> Checkout </button>
                </a>
            </td>
            <td>
                <a asp-action="RemoveFromCart" asp-routeproductId="@item.ProductId">Remove</a>
            </td>
        </tr>
    }
</table>