@model CosmesticWebsiteDemo.Models.Product

@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <h1>Product Detail</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-thumbnail" alt="@Model.Name" />
        </div>

        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price) VNĐ
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
            </dl>

            <div class="d-flex justify-content-between mt-3">
                <a asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>